Backend/FlyHighApi/obj/Debug/net6.0/FlyHighApi.GeneratedMSBuildEditorConfig.editorconfig
Backend/FlyHighApi/obj/Debug/net6.0/FlyHighApi.assets.cache
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FlyHigh/FileContentIndex/a116bc44-0f50-4635-a109-c6866ddc6e3e.vsidx
.vs/FlyHigh/v17/.wsuo
Backend/FlyHighApi/.vs/FlyHighApi/FileContentIndex/db84b7cb-4524-49e9-812e-de44f8e68398.vsidx
Backend/FlyHighApi/.vs/FlyHighApi/FileContentIndex/e11a68d2-bc9a-4b89-af1b-6708d68000d1.vsidx
Backend/FlyHighApi/bin/Debug/net6.0/FlyHighApi.dll
Backend/FlyHighApi/bin/Debug/net6.0/FlyHighApi.pdb
Backend/FlyHighApi/obj/Debug/net6.0/FlyHighApi.csproj.AssemblyReference.cache
